In [1]:
#Essesntial libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
#Loading the dataset
dataset=pd.read_csv('advertising.csv')
dataset.head()

                         Date     TV  Podacst  Youtube   Sales
0   Thursday, 1 January, 2015  11505     3780     6920  221000
1   Thursday, 8 January, 2015   2225     3930     4510  104000
2  Thursday, 15 January, 2015    860     4590     6930   93000
3  Thursday, 22 January, 2015   7575     4130     5850  185000
4  Thursday, 29 January, 2015   9040     1080     5840  129000

In [3]:
# creating data variables
X = dataset.iloc[:,1:4] 
y=dataset['Sales']

In [4]:
# Train and test split
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,shuffle=True,random_state=20)

In [5]:
# Create and fit the model for prediction
lin = LinearRegression()
lin.fit(X_train,y_train)
y_pred =lin.predict(X_test)

In [6]:
# Accuracy Measure
r2_score(y_test,y_pred)

0.9032049399335232

In [7]:
#Creating Coefficients
coef = lin.coef_
components =pd.DataFrame(zip(X.columns,coef),columns=['component','value'])
components =components.append({'component':'intercept','value':lin.intercept_}, ignore_index=True)

C:\Users\AMWagle\AppData\Local\Temp\ipykernel_26804\1572176199.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  components =components.append({'component':'intercept','value':lin.intercept_}, ignore_index=True)

In [8]:
components

   component         value
0         TV      8.843460
1    Podacst     18.865409
2    Youtube      0.181911
3  intercept  31072.135963